<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo"><img src="<%= pathAssets %>img/uni.png" style="width: 150px;" alt=""></div>
        <div class='loader-progress' id="progress_div" >
            <div class='bar' id='bar1' style="background-color: rgb(153, 1, 1);"></div>
        </div>
        <div class='percent' id='percent1'>0%</div>
        <div class="loading-text">
            Cargando...
        </div>
    </div>
</div>